<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body style="background-color:rgb(255,165,45);">
     <div style ="text-align: center;">
    <h1 style = "text-align: center;" >Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
      Saisi ici ton nom : <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
    
      <input value = 'Envoyer' type='submit'/>
       </div>
    </form>
  </body>
</html>