
<html>
  <head>
    <title> PAGE POTIN </title>
  </head>
  <body style="background-color:rgb(255,15,45);">

    <h1 style ="text-align: center;">Voici la page du pontin n°<%= i %>!</h1>
    
        <p style="background: #FFFFFF; width: 400px;margin: auto auto 5px auto; border: 1px solid; border-radius: 10px; padding:5px; text-align: center; font-size: 20px;">
    	Son hauteur :<%= gossips[0]%><br/> 
    	Le contenu du potin : <%= gossips[1] %>
        </p>
     
     <p> Pour revenir à la page des potins cliquer <a href="/"> ici </a>
     </p>
  </body>
</html>



